{{#ui-block/rows as |rows|}}

  {{#rows.header}}
    Person
  {{/rows.header}}

  {{#rows.row}}
    <div class="identity">
      <div>context: {{person.context.absoluteIdentifier}}</div>
      <div>model: {{person}}</div>
      <div>doc: {{person.doc}}</div>
      <div>data: {{person.doc.data}}</div>
    </div>
  {{/rows.row}}

  {{#rows.row}}
    {{ui-block/json person.doc.serialized}}
  {{/rows.row}}

  {{#rows.row}}
    <label>Name</label>
    {{input value=person.name}}
  {{/rows.row}}

  {{#rows.row}}
    <button {{action 'save'}}>Save</button>
    <button {{action 'edit'}}>Edit</button>
  {{/rows.row}}

  {{#rows.row}}
    <div class="identity">
      Note: this edit happens in the same context where all people are loaded in sidebar, so all local changes will be reflected there.
      Also, there is no rollback available (apart from tearing this context down and recreating it)
    </div>
  {{/rows.row}}

  {{#rows.row click=(action 'show')}}
    Show in /model/{{person.doc.path}}
  {{/rows.row}}

{{/ui-block/rows}}
