{{#ui-block/rows as |rows|}}

  {{#rows.header}}
    Experimental
    {{#ui-block/links url='components/ui-route/experimental' as |links|}}
      {{links.link title='component' url='component.js'}}
      {{links.link title='template' url='template.hbs'}}
    {{/ui-block/links}}
  {{/rows.header}}

  {{#rows.row}}
    {{ui-input/file update=(action 'update')}}
    <button {{action 'upload'}}>Upload</button>
  {{/rows.row}}

{{/ui-block/rows}}

{{set-global component=this}}
