{{#ui-block/rows as |rows|}}

  {{#rows.header}}
    {{model.pristine.name}}
  {{/rows.header}}

  {{#rows.row}}
    <label>Name</label>
    {{input value=model.edit.name}}
  {{/rows.row}}

  {{#rows.row}}
    <label>Email</label>
    {{input value=model.edit.email}}
  {{/rows.row}}

  {{#rows.row}}
    <button {{action 'save'}}>Save</button>
    <button {{action 'done'}}>Cancel</button>
  {{/rows.row}}

{{/ui-block/rows}}
