{{#ui-block/rows as |rows|}}

  {{#rows.header}}
    {{model.pristine.title}}
  {{/rows.header}}

  {{#if model.query.isLoading}}
    {{#rows.row}}
      Loading…
    {{/rows.row}}
  {{else}}

    {{#rows.row}}
      <label>Title</label>
      {{input value=model.edit.title}}
    {{/rows.row}}

    {{#rows.row}}
      <button {{action 'save'}}>Save</button>
      <button {{action 'done'}}>Cancel</button>
    {{/rows.row}}

  {{/if}}

{{/ui-block/rows}}
