<div>Edit Person</div>

<div class="identity">
  <div>context: {{person.context.absoluteIdentifier}}</div>
  <div>person: {{person}}</div>
  <div>data: {{person.data}}</div>
</div>

{{ui-block/json person.data.serialized}}

<button {{action 'save'}}>Save</button>
