{{#ui-block/rows as |rows|}}

  {{#rows.header}}
    Edit person in nested context
  {{/rows.header}}

  {{#rows.row}}
    <div class="identity">
      <div>context: {{model.context.absoluteIdentifier}}</div>
      <div>model: {{model}}</div>
      <div>query: {{model.query}}</div>
    </div>
  {{/rows.row}}

  {{#rows.row}}
    <div class="identity">
      <div>model: {{person}}</div>
      <div>doc: {{person.doc}}</div>
      <div>data: {{person.doc.data}}</div>
    </div>
  {{/rows.row}}

  {{#rows.row}}
    {{ui-block/json person.doc.serialized}}
  {{/rows.row}}

  {{#rows.row}}
    <label>Name</label>
    {{input value=person.name}}
  {{/rows.row}}

  {{#rows.row}}
    <label>Email</label>
    {{input value=person.email}}
  {{/rows.row}}

  {{#rows.row}}
    <button {{action 'save'}}>Save</button>
    <button {{action 'cancel'}}>Cancel</button>
  {{/rows.row}}

  {{#rows.row}}
    <div class="identity">
      Note: this document edit is being run in forked context which is discarded on route transition so we get rollback for free.
    </div>
  {{/rows.row}}

{{/ui-block/rows}}
