{{#ui-block/rows as |rows|}}
  {{#rows.header}}
    Edit person in nested context
  {{/rows.header}}
  {{#rows.row}}
    <div class="identity">
      <div>context: {{person.context.absoluteIdentifier}}</div>
      <div>person: {{person}}</div>
      <div>data: {{person.data}}</div>
    </div>
  {{/rows.row}}
  {{#rows.row}}
    {{ui-block/json person.data.serialized}}
  {{/rows.row}}
  {{#rows.row}}
    <label>Name</label>
    {{input value=person.data.name}}
  {{/rows.row}}
  {{#rows.row}}
    <label>Email</label>
    {{input value=person.data.email}}
  {{/rows.row}}
  {{#rows.row}}
    <button {{action 'save'}}>Save</button>
    <button {{action 'cancel'}}>Cancel</button>
  {{/rows.row}}
  {{#rows.row}}
    <div class="identity">
      Note: this document edit is being run in forked context which is discarded on route transition so we get rollback for free.
    </div>
  {{/rows.row}}
{{/ui-block/rows}}
