{{#ui-block/rows as |rows|}}

  {{#rows.header}}
    {{query}}
  {{/rows.header}}

  {{#rows.header}}
    Collection:
    {{#each collectionOptions as |option|}}
      <span class={{if (eq option collection) 'mark'}} {{action (mut collection) option}}>{{option}}</span>
    {{/each}}
  {{/rows.header}}

  {{#rows.header}}
    Order:
    {{#each orderOptions as |option|}}
      <span class={{if (eq option order) 'mark'}} {{action (mut order) option}}>{{option}}</span>
    {{/each}}
  {{/rows.header}}

  {{#if query.isLoading}}

    {{#rows.header}}
      Loading…
    {{/rows.header}}

  {{else}}

    {{#each query.content as |model|}}
      {{#rows.row click=(action 'show' model)}}
        <div>
          {{model.doc.path}} {{get model.doc.data order}}
        </div>
        <div class="small">
          {{model}}
        </div>
      {{/rows.row}}
    {{else}}
      {{#rows.row}}
        No content
      {{/rows.row}}
    {{/each}}

  {{/if}}

{{/ui-block/rows}}

{{#ui-block/rows as |rows|}}
  {{#rows.row}}
    {{thing.name}} {{thing.version}}
  {{/rows.row}}
{{/ui-block/rows}}

{{set-global component=this query=query}}
