{{#ui-block/rows as |rows|}}
  {{#rows.header}}
    Document {{document.path}} in {{document.context.absoluteIdentifier}}
  {{/rows.header}}
  {{#rows.row click=(action 'select')}}
    {{document}}
  {{/rows.row}}
  {{#rows.row}}
    {{ui-block/json document.serialized}}
  {{/rows.row}}
  {{#each keys as |key|}}
    {{#rows.row}}
      <div>{{key.name}}</div>
      {{#if (eq key.type 'input')}}
        <div>{{input value=(get document.data key.name) enter=(action 'save')}}</div>
      {{/if}}
    {{/rows.row}}
  {{/each}}
{{/ui-block/rows}}
